.centreText {
    text-align: center;
}

.searchBoxArea{
    background-color: antiquewhite;
    padding: 20px;
    margin: 100px;
    border: 2px solid sandybrown;
    max-height: 150px;
}

.result{
    margin: auto;
    align-content: center;
}

h1 {
    font-size: 150px;
    color: azure;
}

h2 {
    font-size: 110px;
    color: azure;
}

.disclaimer{
    margin: 10px;
    text-align: center;
    color: crimson;
    background-color: azure;
    border-radius: 5px;
}

p {
    font-size: 20px;
    margin: 10px;
    color: azure;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
  
}

.container-fluid{
    background-color: tomato;
}

html{
    background-color: tomato;
}

table#tableForm{
    vertical-align: middle;
    position: relative;
    max-width: 500px;
    margin: auto;
    padding: auto;

}

td{
    margin: 10px;
}
